/*ヘッダー*/
.header { 
      display:flex;
      justify-content:center;
      align-items:center;
      line-height:5%;
}
@media screen and (max-width: 1000px){
  .header {position:fixed;
          top:0px;
          left:0px;
          width:100%;
          height:50px;
          z-index:2;
          background-color:#ffffff;
  }
}

/*potepanのロゴ、オレンジ*/
.logo {position:absolute; top:0px; left:30px;}
.LOGO{ width:47%;
       height:auto;
      text-align:left;
      padding-right:20px;
}
.logo:hover {opacity:0.8;}

@media screen and (max-width: 1000px){
   .logo {position:fixed; top:-10px; laft:5px;
         z-index:2;
  }
}
/*無料カウンセリングのボタン、メニューバー*/
.co { background-color:#ff8c00;
      border-radius:30px;
      padding:0 10 0 0px;
      position:relative;
      top:-10px;
      line-height:0;
      font-size:30vw;
      width:100px;
      display:inline-block;
      text-align: center;
      
}
.co:hover {opacity:0.8;}
.co p {left:10px;}

.cc {height:auto;
     width:150px;
     margin-top:15px;
     font-size:1.0vw;
     margin-left:auto;
     margin-right:auto;
     
}

.header-nav-wrap li:nth-child(9) {top:-10px;
                                  padding-left:25px;
                                  font-size:15px;
}

/*ハンバーガーメニュー*/
.header-nav-wrap {display:flex;
                  list-style:none;
                  justify-content:flex-end;
                  margin-top:0%;
                  border:none;
}

.header-nav-wrap p { color:#000000;
                     display:abusolute;
                     height:1%;
                     text-align:center;
}

.header-nav-wrap li { margin-top:-90px;
                      padding-right:35px;
                      margin-left:0px;
                      margin-right:0px;
                      font-size:1.1vw;
                      text-align:center;
                      display:inline-block;
                      list-style-type:none;
                      height:30px;
                      line-height:0;
                      
                      font-family:sans-serif;
}
.bold {font-weight:bold;}

  @media screen and (max-width: 1000px){
  .header-nav-wrap ul {height:450px;}
  .header-nav-wrap  p {color:white;
                      font-size:3.0vw;
                      position:relative;
                      left:-50%;
                      line-height:0;
  }
  .header-nav-wrap span {color:orange;
                         font-size:2.0vw;
  }
  .header-nav-wrapul {left:50%;}
  }
  
.header-nav-wrap li:hover {opacity:0.8;}

.h6 {font-size:0.8vw;
     font-weight:normal;
}

.header-nav-wrap a { text-decoration:none;}

.header-nav-wrap h6 { color:#000000;
}

.nav li {display:inline-block;
          list-style-type:none;
         width:10%;
         height:30px;
         margin-left:30px;
         white-space: nowrap;
}

.nav li a {text-decoration:none;
           color:#000000;
}

.caunselling {
  background-color:#ffa500;
  color:#ffffff;
  width:200px;
  height:50px;
  border:none;
  outline:none;
  border-radius:20px;
  position:absolute;right:100px;top:40px;
  font-size:15px;
  
}
@media screen and (max-width: 1000px){
  .co {display:none !important;}
}
.list-unstyled{
  list-style: none;
}

.d-none{
  display: none;
}

#top-edit{
  overflow: hidden;
}
.header-nav{
  padding: 1em;
}
.header-nav a{
  color: #fff;
}

@media screen and (max-width: 1000px){
  .sp-none{
    display: none;
  }
  .sp-block{
    display: block;
  }
  .nav-icon-wrap{
    position: fixed;
    top: 10;
    right: 0;
    z-index: 999;
    background: rgba(255,255,255,0);
    border:none;
  }
  
.nav-icon{
    position: relative;
    display: block;
    top:10px;
    width: 2em;
    height: 2em;
    cursor:pointer;
  }
  /*三本線*/
.nav-icon span:nth-of-type(1),
.nav-icon span:nth-of-type(2),
.nav-icon span:nth-of-type(3) {
    content: "";
    display: block;
    height:4px;
    width: 35px;
    border-radius: 3px;
    background-color:#000000;
    position: absolute;
}
/*三本線⇨ばつ印*/
.nav-icon span:nth-of-type(1) {
    top: -25%;
    transition:.1s;
}
.nav-icon span:nth-of-type(2) {
    top: 0%;
    transition:.1s;
}
.nav-icon span:nth-of-type(3)  {
    top: 25%;
    transition:.1s;
}

  .header-nav-wrap{
    display: block;
    position: relative;
    top: 45px;
    left: 100%;
    transition: all .4s;
    width: 100%;
    z-index: 990;
  }
  
  
  .header-nav{
    margin: 0;
  }
#main-nav:checked ~ nav{
    display: block;
    left: 0;
  }

#main-nav:checked ~ .d-none span:nth-of-type(3) {
    background-color: rgba(255, 255, 255, 0);
}
#main-nav:checked ~ .d-none span:nth-of-type(2) {
    bottom:0;
    transform: rotate(45deg);
    transition:.4s;
}
#main-nav:checked ~ .d-none span:nth-of-type(1) {
    top:0;
    transform: rotate(-45deg);
    transition:.4s;
}
  .header-nav{
    flex-direction: column;
    background: rgba(0, 0, 0, 0.8);
    padding: 1em;
  }
  
  .header-nav a{
    color: #00000;
  }
    .header-nav-wrap li {
    display:list-item;
    padding-left:300px;
    padding-top:5px;
    padding-bottom:5px;
    line-height:1;
    font-size:13px;
    text-align:center;
    height:auto;
  }
}


/*ヘッダーここまで*/

/*メイン*/
body { 
  background-image: url("https://camp.potepan.com/wp-content/themes/potepancamp/assets/images/home/first-view/top-hero.jpg");
  background-position:center top;
  background-size:cover;
  background-repeat:no-repeat;
  position:relative;
  height:650px;
}
@media screen and (max-width: 800px){
  body {background-image: url("https://camp.potepan.com/wp-content/themes/potepancamp/assets/images/home/first-view/top-hero-sp.jpg.webp");
        background-position:center 50px;
        background-size:100%;
        background-repeat:no-repeat;
        position:relative;
        height:100%;
}
}
.wrap {overflow:hidden;}

@media screen and (max-width: 1000px){
  .keyvisual {position:absolute;
              top:30%;
              left:0px;
              width:100%;
              font-size:1.8vw;
              
               }
}
@media screen and (max-width: 760px){
  .keyvisual {position:absolute;
              top:130%;
              left:18%;
              width:100%;
              font-size:1.3vw;
              }
}
/*webエンジニア輩出No.1*/
.mainlogo { position:absolute;
            top:200px;
            left:550px;
            width:150px;
            height:150px;
          }  
@media screen and (max-width: 1000px){
  .mainlogo {left:30%;}
}

/*potepancampのロゴ、黒色*/
.mainlogo2 { position:absolute;
            top:180px;
            left:200px;
            width:250px;
            height:50px;
          }  
        
.cm { position:absolute;
      top:90px;
      left:150px;
      font-size:2.8vw;
      text-align:center;
      line-height:0.3;
}

.cm span {color:#ffa500;}
@media screen and (max-width: 1000px){
  .cm {font-size:4.0vw;
       top:-100px;
       left:4%;
  }
}

@media screen and (max-width: 760px){
  .cm {font-size:3.5vw;
       top:-900%;
       left:10%;}
}

.spoint {position:absolute;
         top:230px;
         left:280px;
    }
.spoint img {vertical-align:center;
             width:200px;
             height:auto;}
.spoint2 {position:absolute;
          top:250px;
          left:120px;}
.spoint2 img {width:150px;
         height:auto;
}
.spoint3 {position:absolute;
          top:250px;
          left:490px;}
.spoint3 img {width:150px;
              height:auto;}
             
@media screen and (max-width: 1000px){
  .spoint { width:300px;
            top:50px;
            left:21%;
            
  }
  .spoint img {vertical-align:middle;
}
.spoint2 {width:300px;
          height:auto;
          top:60px;
          left:5%;
}
.spoint3 {width:150px;
          height:auto;
          top:60px;
          left:42%;}
}
@media screen and (max-width: 760px){
  .spoint {width:60%;
           height:auto;
           top:50%;
           left:20%;}
  .spoint2 {width:60%;
            height:auto;
            top:60%;
            left:-3%;}
  .spoint3 {width:60%;
            height:auto;
            top:60%;
            left:50%;}
  }
/*無料カウンセリングボタン　オレンジ*/
.free {background-color:#ff8c00;
       border:none;
       border-radius:30px;
       font-size:18px;
       color:#ffffff;
       padding:10px 15px 10px 15px;
       position:absolute;
       top:450px;
       left:120px;
       width:500px;
       height:60px;
}
.free:hover {cursor:pointer;
  opacity:0.8;
}
@media screen and (max-width: 1000px){
  .free {top:250px;
         left:8%;
         width:45%;
         height:auto;
         border-radius:30px;
         font-size:3.0vw;
  }
}
@media screen and (max-width: 760px){
  .free {width:80%;
         left:-8%;
         top:1800%;
  }
}

/*資料請求ボタン*/
.document{ background-color:white;
           font-size:20px;
           border-radius:30px;
           border:solid gray 1px;
           padding:10px 15px 10px 15px;
           position:absolute;
           top:455px;
           left:430px;
           
}
.document:hover {cursor:pointer;
  opacity:0.8;
}
@media screen and (max-width: 1000px){
  .document { display:none;}
}

.fcauns { position:fixed;
          top:85%;
          z-index:2;
          right:0px;
          width:35%;
          height:auto;
}

.fcauns:hover {cursor:pointer;}
@media screen and (max-width: 1000px){
  .fcauns {position:fixed;
          top:80%;
          z-index:2;
          right:10px;
          width:400px;
          height:auto;
  }
}

.caunselling2 { background-color:#ffa500;
             color:#ffffff;
              width:200px;
              height:50px;
              border:none;
              outline:none;
              border-radius:20px;
              position:absolute;
                top:100px;
              font-size:15px;
              }

/*ショッパーズアイ*/
.source1 { position:absolute;
          top:550px;
          left:30px;
          color:#c0c0c0;
          font-size:1vw;
          word-break:break-word;
          word-wrap:break-word;
}
@media screen and (max-width: 1000px){
  .source1 {width:90%;
           height:50px;
           top:3000%;
           text-align:left;
           font-size:1.5vw;
           line-height:1;
           overflow-wrap:break-word;
  }
}
@media screen and (max-width: 760px){
  .source1 {top:2300%;
          left:-15%;
  }
}
  .source2 { position:absolute;
          top:565px;
          left:30px;
          color:#c0c0c0;
          font-size:1vw;
          word-break:break-word;
          word-wrap:break-word;
}
@media screen and (max-width: 1000px){
  .source2 {width:90%;
           height:50px;
           top:3250%;
           text-align:left;
           font-size:1.5vw;
  }
}
@media screen and (max-width: 760px){
  .source2 {top:2500%;
          left:-15%;
  }
}
.source3 { position:absolute;
          top:580px;
          left:30px;
          color:#c0c0c0;
          font-size:1vw;
          word-break:break-word;
          word-wrap:break-word;
}
@media screen and (max-width: 1000px){
  .source3 {width:90%;
           height:50px;
           top:3400%;
           text-align:left;
           /*top:645px;*/
           font-size:1.5vw;
  }
}
@media screen and (max-width: 760px){
  .source3 {top:2600%;
          left:-15%;
  }
}
@media screen and (max-width: 1000px){
  .comment {width:90%;
           height:50%;
           top:15%;
           font-size:1.5vw;
           line-height:1;
           overflow-wrap:break-word;}
}
           

/*ポテパンキャンプの学割*/
.disc {display:flex;
       position:absolute;
       top:640px;
       width:97.5%;
       background-color:#ff8c00;
       text-align:left;
       list-style:none;
       border:none;
       }
.disc tr {text-align:left;
          width:50%;
}
.disc td {display:table}

.cm2 {  width:80%;
        height:auto;
        background-color:#ff8c00;
        border:none;
}
@media screen and (max-width: 1000px){
  .disc {width:100%;
         border:none;
         top:95%;
         height:700px;
         margin-top:50px;
         background-color:#ff8c00;
   }
   .disc li {display:list-item;
             text-align:center;
             background-color:#ff8c00;
             width:80%;
   }
         
 .disc td {display:list-item;
           width:100%;
           text-align:center;
           
           }
           
 .cm2 {left:0px;
        border:none;
        padding-left:30px;
        padding-right:30px;
        width:84%;
 }
}
@media screen and (max-width: 760px){
  .disc {width:100%;
         border:none;
         top:200%;
         height:700px;
         margin-top:50px;
         background-color:#ff8c00;
   }
   .disc li {display:list-item;
             text-align:center;
             background-color:#ff8c00;
             width:80%;
   }
         
 .disc td {display:list-item;
           width:100%;
           text-align:center;
           
           }
           
 .cm2 {left:0px;
        border:none;
        padding-left:30px;
        padding-right:30px;
        width:84%;
 }
}

/*potepancamとは*/
.join1 { width:50%;
         left:10%;
         padding-left:80px;
         padding-top:40px;
         padding-bottom:40px;
         
  }
 
  @media screen and (max-width: 1000px){
    .join1 {position:absolute;
           left:0%;
           font-size:1.8vw;
           width:92%;
           
    }
    .join1 video {position:absolute;
                  left:10%;
                  z-index:1;
                  width:90%;
    }
    .join div {background-color:#ff8c00;}
  }
  
  .join2 {position:absolute;
          right:5%;
          text-align:left;
          width:40%;
          font-size:1.3vw;
          padding-top:40px;
          font-family:'メイリオ';
  }
.join2 h1 {text-align:left;}
.join2 a {text-decoration:none;
          color:#ffffff;
}
.join p {font-family:'メイリオ';}

@media screen and (max-width: 1000px){
  .join2 {background-color:#ff8c00;
          text-align:center;
          width:100%;
          top:55%;
          left:10%;
          font-size:2vw;
  }}
@media screen and (max-width: 1000px){
  .join2 p {position:absolute;
            width:100%;
  }
}
@media screen and (max-width: 1000px){
  .join2 a {text-decoration:none;
            color:#ffffff;}
}